<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Todo List</title>
     <script src="/assets/jquery-1.11.3.min.js" type="text/javascript"></script>
     <link rel="stylesheet" href="/assets/styles.css" type="text/css">
     <script src="/assets/todo-list.js" type="text/javascript"></script>
</head>
<body>
     <h1>My Todo App</h1>
     <div id="todo-table" class="">
          <form>
               <input type="text" name="item" placeholder="Add new item..." value=""><button type="submit" name="button">Add Item</button>
          </form>

          <ul>
               <% for(var i=0; i<todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
               <% } %>
          </ul>
     </div>
</body>
</html>
